
img:hover{
	box-shadow: 0 0 12px 5px rgba(0,140,186,0.5);
}
p{
	font-size: 100px;

	
	position: absolute;
	

	
	top: 400px;
	left:650px;
	

	text-align: center;
	text-shadow: 2px 2px black
}
* {
  box-sizing: border-box;
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

